/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a complete dataset test with star or hisat2. Use as follows:
 *   nextflow run nf-core/rnaseq --config conf/complete_hisat2_human_test.config
 */

params {

  input = "s3://manu-data-public/rnaseq_files/human_dataset/samples_human_complete_dataset.csv"
  umitools_bc_pattern = "NNNN"
  aligner = "hisat2"
  genome = "GRCh38"
  skip_qualimap = true
}