/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test with salmon. Use as follows:
 *   nextflow run nf-core/rnaseq --config conf/minimal_salmon_quant_test.config
 */

params {

  input = "s3://nf-core-awsmegatests/rnaseq/input_data/minimal/GSE110004/*_[1,2].fastq.gz"
  fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa"
  gtf = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf"
  gff = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff"
  transcript_fasta = "s3://manu-data-public/rnaseq_files/transcriptome_with_gfp_ok.fasta"
  additional_fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/gfp.fa"
  umitools_bc_pattern = "NNNN"
  pseudo_aligner = "salmon"
  genome = "R64-1-1"
  skip_alignment = true
}
