/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test with star or hisat2. Use as follows:
 *   nextflow run nf-core/rnaseq -profile minimal_star_yeast_test
 */

params {

  input = "s3://nf-core-awsmegatests/rnaseq/input_data/minimal/GSE110004/*_[1,2].fastq.gz"
  fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa"
  gtf = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf"
  umitools_bc_pattern = "NNNN"
  aligner = "star"
  genome = "R64-1-1"
  skip_qualimap = true
}