/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test with star or hisat2. Use as follows:
 *   nextflow run nf-core/rnaseq -profile small_star_human_test
 */

params {

  input = "s3://manu-data-public/rnaseq_files/human_dataset/samples_human_minimal_dataset.csv"
  fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa"
  gtf = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf"
  umitools_bc_pattern = "NNNN"
  aligner = "star"
  genome = "GRCh38"
  skip_qualimap = true
}