/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a complete dataset test with salmon. Use as follows:
 *   nextflow run nf-core/rnaseq --config conf/small_salmon_human_test.config
 */

params {

  input = "s3://manu-data-public/rnaseq_files/human_dataset/samples_human_minimal_dataset.csv"
  umitools_bc_pattern = "NNNN"
  genome = "GRCh38"
  pseudo_aligner = "salmon"
  genome = "R64-1-1"
  skip_alignment = true
}